html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* Space from this element (entire page) and others*/
  padding: 0;
  /*space from content and border*/
  border: solid black;
  border-width: thin;
  background: black;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

* {
  box-sizing: border-box;
}
.github {
  height: 50%;
  padding: 2pc;
  background-position-x: left;
}
h1 {
  text-align: center;
  top: 100%;
  width: 100%;
  margin: auto;
  font: x-large;
  font-family: 'Rajdhani', sans-serif;
  font-size: 35pt;
  color: white;
}
.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-block-end: 80px;
}
h2 {
  text-align: center;
  font: x-large;
  font-family: 'Rajdhani', sans-serif;
  font-size: 35pt;
  color: white;
  background: #202020;
  position: relative;
  padding-top: 40px; 
  margin-top: -40px;
}

div{
  text-align:center;
}



.bg-text {
  color: black;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 80%;
  padding: 20px;
  text-align: center;

}
.image-invert {
  filter: invert(100%); 
  width: 30%;
  /* float: left; */
}
.invert { filter: invert(100%); }

.bg-image {
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  border-block: white;
}
.linkbadge {
  background: rgb(41,42,43);
  align-content: center;
  align-items: right;
  align-self: center;
}

.navbar {
  overflow: visible;
  background-color: #202020;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 50px;
}
.pull-right {
  align-self: center;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 100;
}
.handshake {
  size: 100px;
  height: 100px;
}
.navbar a:hover {
  background: #5A7B8E;
  color: white;
  z-index: 100;
}
#nav ul {
  display: inline-block;
  list-style-type: none;
}
.LI-simple-link {
  text-align: left;
}
.linkbadge {
  text-align: left;
  padding-top: 25px; 
  margin-top: -40px;
  padding-bottom: 40px; 
  align-self: center;
}

.logo-image{
  width: 25px;
  height: 25px;
  background-position-x: right;
  overflow: hidden;
  margin-top: -6px;
}

.img1 {
  background-image: url("code2.png");
}

.img3 {
  background-image: url("surf2.jpg");
}

.img4 {
  background-image: url("surf2.jpg");
}